@model BanhMyIT.Models.User
@{
    ViewData["Title"] = "User Details";
}
<h2>User Details</h2>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">User ID</dt>
        <dd class="col-sm-9">@Model.UserID</dd>
        <dt class="col-sm-3">First Name</dt>
        <dd class="col-sm-9">@Model.FirstMidName</dd>
        <dt class="col-sm-3">Last Name</dt>
        <dd class="col-sm-9">@Model.LastName</dd>
        <dt class="col-sm-3">Street</dt>
        <dd class="col-sm-9">@Model.StreetAddress</dd>
        <dt class="col-sm-3">District</dt>
        <dd class="col-sm-9">@Model.District?.Name</dd>
        <dt class="col-sm-3">Province</dt>
        <dd class="col-sm-9">@Model.Province?.Name</dd>
        <dt class="col-sm-3">Full Address</dt>
        <dd class="col-sm-9">@Model.Address</dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.UserID" class="btn btn-primary btn-sm">Edit</a>
    <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
</div>
